/* Shared style */
.font {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color:#181818;
}
.section-description{
    font-size: 18px;
    font-weight: ;
    color: #757575;
}

.secondary-bg{
    background-color: #FFFFFF;
}
.aboutme-bg{
    background-color: #c5916d50;
}
.align{
    text-align: center;
}


/* Header Section */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* nav style */
.text-primary{
    color: #FD6E0A;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 226px 0 230px;
}
nav ul{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    /* color: #474747; */
}


/* Banner Style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
}
.banner-content{
    width: 585px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
    max-width: 827px;
    padding: 131px 155px;
    text-align: center;
    border-radius: 10px;
    /* margin-top: 130px; */
    /* background-color: #FFFFFF; */
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    color: #757575;
    font-size: 20px;
}
.item-description{
    color:#474747;
    font-size:20px;
}
/* Skills styles */
.skill-container{
    display: flex;
    gap: 24px;
}
.skills{
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.316);
}
.resume-container{
    display: flex;
    gap: 71px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}
.resume-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.experi-description, .resume-subtitle{
    color: #757575;
    /* font-size: 16px; */
}
.resume-column-title, .resume-title{
    color: #474747;
}
.experi-description{
    font-size: 16px;
    font-weight: 400;
}
.resume-subtitle{
    font-size: 20px;
    font-weight: 600;
}
hr{
    margin: 30px 0;
}
.section-title{
    text-align: center;
}
.second-btn{
    text-align: center;
}
.dw-cv{
    margin: 50px auto;
}
.foot-col-title{
    font-size: 35px;
    font-weight: bold;
}
/* footer styles */
footer{
    padding: 130px 230px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
footer form{
    /* display: flex;
    align-items: center; */
}
footer input[type="text"], footer input[type="email"], footer input[type="textarea"]{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display:block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}
.footer-column{
    width: 50%;
}
.btn-submit{
    margin-top: 30px;
}